/* Styling for the Navigator app */

#task-selection {
    width: 20%; /* Adjust as needed */
    dock: left;
    border-right: round $primary;
}

#grid-display {
    width: 80%; /* Adjust as needed */
}

#grid-container {
  /* grid-size: 2; */ /* Initial columns, will be updated dynamically */
    grid-gutter: 1;  /* Spacing between grid cells */
}
